*{
    margin:0;
    padding:0;
    font-size:12px;

    --dark-color:#13293d;
    --light-color:#e8f1f2;
    --bright-blue:#1b98e0;
    --neutral-dark-color:#006494;

    --1h: 3rem;
    --max-lines: 3;

    font-family: 'Roboto Slab', serif;

    color: var(--dark-color);
}

html{
    background-color:var(--light-color);
    box-sizing: content-box;
}

body > h1{
    font-size:6rem;
    letter-spacing:8px;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#the-library{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:75%;
}

div.book-card{
    display:flex;
    flex-direction:column;
    gap:8px;
    justify-content:space-between;
    align-items:center;

    max-width:400px;
    
    text-align: center;

    background-color:var(--bright-blue);
    margin: 16px;
    padding:16px;
    border-radius:8px;

    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
}

.book-card ul{
    list-style:none;
    display:flex;
    max-width:100%;
    flex-direction:column;
    gap:8px;
}

.book-card li:first-child{
    font-size:3em;
    margin: 16px 0 0 0;
}

.book-card li{
    font-size:1.5rem;
    overflow:hidden;
    max-width:100%;

    line-height:var(--1h);
    max-height:calc(var(--1h) * var(--max-lines))
}

button{
    cursor:pointer;
    font-size:1rem;
    border:1px solid var(--dark-color);
    border-radius:8px;
    background:none;
    padding:4px;
    font-weight:bold;
    font-size:1rem;
    width:50%;
    box-shadow:none;
    transition:all .25s;
}

.book-card .read{
    right:8px;
    top:8px;
    font-size:1.2em;
    line-height:2rem;
    padding:8px;
    background-color: var(--neutral-dark-color);
    color: var(--light-color);
    border-radius:8px;
    align-self:flex-end;

}
button:hover{
    background-color:var(--dark-color);
    color:var(--light-color);
}

form{
    display:flex;
    flex-direction:column;
    gap: 16px;
    background: var(--neutral-dark-color);
    padding: 16px;
    width: 75%;
    max-width:600px;
    margin: 16px;
    font-size:1.5rem;
    line-height:2rem;
    transition: all 1s;
}
form legend{
    font-size:2rem;
    font-weight:bold;
    text-align:center;
}
form label{
    font-size:1.5rem;
    width:100%;
}

form input{
    margin-left:8px;
    font-family: 'Roboto Slab', serif;
    background:var(--light-color);
    color:black;
    font-size:1.5rem;
    line-height:2rem;
}
form > button {
    width:80%;
    align-self:center;
    font-size:2rem;
    letter-spacing:1px;
    padding:8px;
    color:var(--light-color);
    background: var(--dark-color);
}

form > button:hover{

    color:var(--dark-color);
    background: var(--light-color);
}